<h1>The Life of Saint Paul</h1>
<div class="span8">
  <h2>Early Life</h2>
  <p>
    Paul was born around 5 AD in Tarsus. He was born into a Jewish family and was given the birth name Saul. He was most likely a Roman citizen by birth. His father, mother, and sister's names are not known. Very little is known about his early life.
  </p>
</div>
<div class="span4">
  pic goes here!
</div>
