<h1>The Life of Saint Paul</h1>
<div class="span8">
  <h2>Early Life</h2>
  <p>
    Paul was born around 5 AD in Tarsus. He was born into a Jewish family and was given the birth name Saul. He was most likely a Roman citizen by birth. His father, mother, and sister's names are not known. Very little is known about his early life.
  </p>
</div>
<div class="span4">
  pic goes here!
</div>
<div class="span8">
  <h2>Life Before Conversion</h2>
  <p>
    After childhood, Paul was sent to Jerusalem to get an education at the school of Gamaliel. Little is known after this until the stoning of Saint Stephen, the first known martyr of the church. He was an active participant in the persecution of Christians, and later admitted to doing so. He continued these practices until about the age of 30.
  </p>
</div>
<div class="span4">
  pic goes here!
</div>
<div class="span8">
  <h2>Conversion</h2>
  <p>
  Jesus appeared to Paul at around 31-36 AD as he was on his way to Damascus. He was blinded for three days. During these days he ate no food and drank no water, constantly praying to God. After a blessing, his sight returned and he became baptized. Following his conversion he devoted all of his life to God.
  </p>
</div>
<div class="span4">
  pic goes here!
</div>
<div class="span8">
  <h2>Life After Conversion</h2>
  <p>
  Paul began to preach as soon as he was baptized. People were incredulous at the fact that Paul, a man who openly opposed Christianity, was preaching that Jesus was the son of God. Three years after his conversion he traveled to Jerusalem, meeting James and staying with Simon Peter for fifteen days. After this time Paul created some religious writings, but not much is known about this time of his life. It is known that around eleven years later he came back to Jerusalem.
  </p>
</div>
<div class="span4">
  pic goes here!
</div>
<div class="span8">
  <h2></h2>
  <p>
  </p>
</div>
<div class="span4">
  pic goes here!
</div>
