<h1>The Life of Saint Paul</h1>

<div class="col-md-12">
  <h2>Early Life</h2>
  <div class="well">
    Paul was born around 5 AD in Tarsus. He was born into a Jewish family and was given the birth name Saul. He was most likely a Roman citizen by birth. His father, mother, and sister's names are not known. Very little is known about his early life.
  </div>
</div>


<div class="col-md-12">
  <h2>Life Before Conversion</h2>
  <div class="well">
    After childhood, Paul was sent to Jerusalem to get an education at the school of Gamaliel. Little is known after this until the stoning of Saint Stephen, the first known martyr of the church. He was an active participant in the persecution of Christians, and later admitted to doing so. He continued these practices until about the age of 30.
  </div>
</div>

<div class="col-md-12">
  <h2>Conversion</h2>
  <div class="col-md-8 well">
    Jesus appeared to Paul at around 31-36 AD as he was on his way to Damascus. He was blinded for three days. During these days he ate no food and drank no water, constantly praying to God. After a blessing, his sight returned and he became baptized. Following his conversion he devoted all of his life to God.</br>
    <a href="http://catholicexchange.com/the-conversion-of-st-paul">Read more about the conversion of Saint Paul</a>
  </div>
  <div class="col-md-4">
    <%= image_tag "saint-paul-conversion.jpg", size: "400x350", alt: "Saint Paul's Conversion" %>
  </div>
</div>


<div class="col-md-12">
    <h2>Life After Conversion</h2>
    <div class="col-md-5">
      <%= image_tag "saint-paul-head.jpg", size: "400x350" %>
    </div>
    <div class="col-md-7 well">
      Paul began to preach as soon as he was baptized. People were incredulous at the fact that Paul, a man who openly opposed Christianity, was preaching that Jesus was the son of God. Three years after his conversion he traveled to Jerusalem, meeting James and staying with Simon Peter for fifteen days. After this time Paul created some religious writings, but not much is known about this time of his life. It is known that around eleven years later he came back to Jerusalem.
    </div>
  </div>
</div>

<div class="col-md-12">
  <h2>Missionary Journeys</h2>
  <div class="col-md-8 well">
    Throughout Paul’s life he went on three different missionary journeys. The first started at Antioch, then moved to Cyprus, going to southern Asia Minor, and then returning to Antioch. The second left from Jerusalem, circling the Mediterranean sea, stopping in Antioch, and finishing at Paul’s birthplace, Tarsus. His third journey circled around Galatia. Paul was a very important part of the early church.
  </div>
  <div class="col-md-4">
    <%= image_tag "saint-paul-with-sword.jpg" %>
  </div>
</div>

<div class="col-md-12">
  <h2>Arrest and Death</h2>
  <div class="well">
    Paul arrived in Jerusalem in 57 AD and was warmly received. A few days later some people were accusing him of not following certain traditions. To avoid being killed by a rowdy crowd, he put himself into roman custody. He spent two years under house arrest in Rome, followed by a sentence to death. He was beheaded in Rome in 67 AD.
  </div>
</div>

<div class="col-md-12">
  <h2>Canonization</h2>
  <div class="well">
  Saint Paul was never officially canonized, as he became a saint before 993, the time that the canonization process was established.
  </div>
</div>

For more information about Saint Paul's life checkout his <a href="https://en.wikipedia.org/wiki/Paul_the_Apostle">wikipedia page</a>.
